h1, h2, h3, h4,h5,h6, p {
  margin:0;
}

.Post{ 
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px; 
    min-height: 7rem;

    position: relative;

  &_image{ 
    color: #fff;  
    width: 250px;
    background-size: cover;
  }

  &_price{
    font-size: 1.8rem;
  }

  &_main{
    padding: 30px;
    position: relative;
    width: 100%;
  }

  &_button{
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    position: absolute; 
    letter-spacing: 1px;

    cursor: pointer;
    z-index: 99;

    &:hover{
      background-color: #564fb9;
    }
  }

}